%footer.pt-4.my-md-5.pt-md-5.border-top
  .container
    .row
      .col-sm-4
        %p obr-doc.ru
        %small.d-block.mb-3.text-muted © 2017-2020
      .col-sm-4
        %ul.list-unstyled.text-small
          %li
            %a.text-muted{:href => "/sitemap", title: "карта сайта"} карта сайта
          %li
            %a.text-muted{:href => "/с", title: "категории"} категории
      .col-sm-4
        %ul.list-unstyled.text-small
          %li
            .ya-share2{"data-services" => "vkontakte,facebook,odnoklassniki,twitter"}