- root_categories = Category.where(ancestry: nil)
.app-sidebar
  .pure-menu.custom-restricted-width
    %ul.pure-menu-list
      - root_categories.each do |category|
        = render partial: 'shared/category_item', locals: { category: category, level: 0 }