.app {
  &-document {
    display: flex;
    &-sidebar {
      flex: 1;
      height: 100%;
      padding: $padding;
    }

    &-preview {
      flex: 4;
      padding: $padding;

      p {
        font-size: 0.8rem !important;
      }

      span {
        font-size: 0.8rem !important;
      }
    }
  }
}