.app {
  &-container {
    display: flex;
  }

  &-sidebar {
    background: $gray;
    flex: 1;
    height: 100%;
    max-width: 300px;

    a {
      display: block;
      margin: $padding;
    }

    a.mg-1 {
      margin-left: 2 * $padding;
    }
    a.mg-2 {
      margin-left: 3 * $padding;
    }
    a.mg-3 {
      margin-left: 4 * $padding;
    }
  }

  &-content {
    flex: 4;
    padding: $padding;
  }
}