.app {
  &-container {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
  }

  &-sidebar {
    background: $black;
    flex: 1;
    min-width: 250px;
    overflow-y: scroll;

    a {
      display: block;
      margin: $padding;
      color: $gray;
    }
  }

  &-content {
    flex: 4;
    padding: $padding;
  }
}