%nav.navbar.navbar-light.bg-light
  %form.form-inline
    %a{href: "/admin/"}
      %button.btn.btn-outline{:type => "button"} Main
    %a{href: "/admin/categories"}
      %button.btn.btn-sm.btn-outline-info{:type => "button"} Categories
    %a{href: "/admin/documents"}
      %button.btn.btn-sm.btn-outline-info{:type => "button"} Documents
    %a{href: "/admin/pages"}
      %button.btn.btn-sm.btn-outline-info{:type => "button"} Pages
    %a{href: "/admin/documents/other"}
      %button.btn.btn-sm.btn-outline-info{:type => "button"} Export/Import
%br